In [94]:
import pandas as pd
import pyarrow.parquet as pq
import numpy as np
import matplotlib.pyplot as plt
import wget
import dask
import os
from tqdm import tqdm
import glob
import os

from numpy import linalg as LA
import math

%matplotlib inline

## Download k-line spot data by every minute from binance

In [2]:
url_template = r"https://data.binance.vision/data/spot/daily/klines/{0}/1h/{0}-1h-{1}.zip"
dir_template = r"data/spot/daily/klines/{0}/1h/{0}-1h-{1}.zip"


# @dask.delayed
def download_one_date(url, path):
    try:
        tmp = wget.download(url, out=path)
        return True
    except:
        # print("{} download failed".format(url))
        return False

def download_all_dates(token_pair: str, dates, path):
    first_meet = False
    for each in dates:
        res = download_one_date(url_template.format(token_pair, str(each.date())), path)
        if first_meet == False and res == True:
            first_meet = True
        if first_meet == True and res == False:
            break
    # promises = [download_one_date(url_template.format(token_pair, str(each.date())), path) for each in dates]
    # alldata=dask.compute(promises) 
    
def get_asset_pairs(x):
    with open("asset_pairs.txt", "r") as f:
        names = f.read()
    names = names.replace("\t", "")
    names = names.replace("\n", "")
    names = names.split("/")
    x_names = list(filter(lambda each: each.endswith(x), names))
    print("x: {} results length: {}".format(x, len(x_names)))
    return x_names

In [3]:
@dask.delayed
def main_download(pair, dates):
    path = "data/spot/daily/klines/{0}/1h".format(pair)
    if not os.path.exists(path):
        os.makedirs(path)
    download_all_dates(pair, dates, path)

In [4]:
USDT_pairs = get_asset_pairs("USDT")
BUSD_pairs = get_asset_pairs("BUSD")

x: USDT results length: 394
x: BUSD results length: 350

In [5]:
USDT_pairs = ["BTCUSDT"]
dates = pd.date_range(start="2021-03-01",end="2023-01-15")
promises = [main_download(each, dates) for each in USDT_pairs]
dask.compute(promises)
# for i in tqdm(range(len(USDT_pairs))):
#     main_download(USDT_pairs[i], dates)

([None],)

## Data loading & pre-processing

In [72]:
@dask.delayed
def process_raw(pair, path):
    names = [
        "Open time",
        "Open",
        "High",
        "Low",
        "Close",
        "Volume",
        "Close time",
        "Quote asset volume",
        "Number of trades",
        "Taker buy base asset volume",
        "Taker buy quote asset volume",
        "Ignore",
    ]
    asset_data = pd.read_csv(path, names=names, header=None)
    # btcdata = pd.read_csv(dir_template.format(pair, date), names=names, header=None)
    asset_data["time"] = pd.to_datetime(asset_data["Open time"], unit='ms')
    asset_data[pair] = asset_data["Close"]
    date_indexed = asset_data.set_index("time")
    date_indexed.drop([
        "Open time",
        "Open",
        "High",
        "Low",
        "Close",
        "Volume",
        "Close time",
        "Quote asset volume",
        "Number of trades",
        "Taker buy base asset volume",
        "Taker buy quote asset volume",
        "Ignore",
        ], axis=1, inplace=True)
    # date_indexed.drop('Close time', axis=1, inplace=True)
    
    # date_indexed.drop('time', axis=1, inplace=True)

    # date_indexed["s"] = (date_indexed["isBuyerMaker"].astype(int)-0.5)*(-2)
    # date_indexed["mid"] = date_indexed["price"]
    return date_indexed


def load_one_pair(pair):
    # pair = "BTCUSDT"
    # dates = list(pd.date_range(start="2021-03-01",end="2021-03-06"))
    files = glob.glob("data/spot/daily/klines/{}/1h/*".format(pair))
    # dates = list(pd.date_range(start="2023-01-13",end="2023-01-15"))
    # assert len(files) != 0, f"{pair} is empty, no files found"
    if len(files) == 0:
        print(f"{pair} is empty, no files found")
        return False, None
    tasks = [process_raw(pair, each) for each in files]
    p_data_arr = dask.compute(tasks)
    result = pd.concat(p_data_arr[0])
    return True, result

def merge_assets(pd_arr, col: str):
    assets_close_matrix = pd_arr[0]
    for each in pd_arr[1:]:
        assets_close_matrix = assets_close_matrix.merge(each, how="outer", on=col)
    return assets_close_matrix

In [73]:
def main_load_and_merge_all_assets():
    existing_pairs = os.listdir("data/spot/daily/klines")
    print("Number of pairs: ", len(existing_pairs))
    # assets_pd_arr = [load_one_pair(each) for each in existing_pairs]
    chunk_sz = 10
    subsets = [existing_pairs[i:i + chunk_sz] for i in range(0, len(existing_pairs), chunk_sz)]
    # print(sum([len(each) for each in subsets]))
    for i in tqdm(range(6, len(subsets))):
        chunk = subsets[i]
        tmp_assets_arr = list()
        for each in chunk:
            success, tmp_asset = load_one_pair(each)
            if success:
                tmp_assets_arr.append(tmp_asset)
        # tmp_assets_arr = [load_one_pair(each) for each in chunk]
        tmp_merge_result = merge_assets(tmp_assets_arr, "time")
        tmp_merge_result.to_pickle(f"data/clean/{i}.pkl")
        
    
    # for i in tqdm(range(len(existing_pairs))):
        # assets_pd_arr.append(load_one_pair(existing_pairs[i]))
    # assets_pd_arr = [load_one_pair(each) for each in existing_pairs]
    # return merge_assets(assets_pd_arr, "time")

res = main_load_and_merge_all_assets()

  0%|          | 0/12 [00:00<?, ?it/s]

Number of pairs:  176
GALUSDT is empty, no files found

100%|██████████| 12/12 [16:55<00:00, 84.62s/it]

In [82]:
def merge_all_chunks(arr_id):
    df_arr = [pd.read_pickle(f"data/clean/{i}.pkl") for i in arr_id]
    for each in df_arr:
        print(each)
    res = merge_assets(df_arr, "time")
    return res

In [85]:
res = merge_all_chunks([i for i in range(6)])
len(res.columns)

                     1INCHDOWNUSDT  1INCHUPUSDT  1INCHUSDT  AAVEDOWNUSDT  \
time
2021-04-15 07:00:00          10.07         9.87     5.8799      1.327380
2021-04-15 08:00:00          10.21         9.73     5.8589      1.367000
2021-04-15 09:00:00           9.92        10.00     5.9137      1.320024
2021-04-15 10:00:00           9.97         9.93     5.9084      1.301529
2021-04-15 11:00:00           9.10        10.63     6.1123      1.232953
...                            ...          ...        ...           ...
2023-01-15 19:00:00            NaN          NaN        NaN           NaN
2023-01-15 20:00:00            NaN          NaN        NaN           NaN
2023-01-15 21:00:00            NaN          NaN        NaN           NaN
2023-01-15 22:00:00            NaN          NaN        NaN           NaN
2023-01-15 23:00:00            NaN          NaN        NaN           NaN

                     AAVEUSDT  AGLDUSDT  AIONUSDT  ALICEUSDT  ALPINEUSDT  \
time
2021-04-15 07:00:00   438.825       NaN   0.45630    12.3072         NaN
2021-04-15 08:00:00   434.066       NaN   0.44530    12.4601         NaN
2021-04-15 09:00:00   439.611       NaN   0.44020    12.5628         NaN
2021-04-15 10:00:00   443.585       NaN   0.43320    12.4980         NaN
2021-04-15 11:00:00   452.599       NaN   0.43930    12.7799         NaN
...                       ...       ...       ...        ...         ...
2023-01-15 19:00:00    80.100       NaN   0.03404        NaN      2.3723
2023-01-15 20:00:00    79.900       NaN   0.03497        NaN      2.3822
2023-01-15 21:00:00    79.700       NaN   0.03500        NaN      2.3900
2023-01-15 22:00:00    79.900       NaN   0.03493        NaN      2.3882
2023-01-15 23:00:00    79.200       NaN   0.03480        NaN      2.3768

                     AMPUSDT
time
2021-04-15 07:00:00      NaN
2021-04-15 08:00:00      NaN
2021-04-15 09:00:00      NaN
2021-04-15 10:00:00      NaN
2021-04-15 11:00:00      NaN
...                      ...
2023-01-15 19:00:00  0.00392
2023-01-15 20:00:00  0.00391
2023-01-15 21:00:00  0.00389
2023-01-15 22:00:00  0.00388
2023-01-15 23:00:00  0.00388

[16452 rows x 10 columns]
                     ANCUSDT  ANTUSDT  ANYUSDT  API3USDT  ARPAUSDT  ASRUSDT  \
time
2022-01-25 11:00:00    1.584    5.056    19.48     3.790   0.05541      NaN
2022-01-25 12:00:00    1.595    5.110    19.40     3.840   0.05566      NaN
2022-01-25 13:00:00    1.598    5.089    19.30     3.776   0.05500      NaN
2022-01-25 14:00:00    1.553    4.955    18.96     3.811   0.05472      NaN
2022-01-25 15:00:00    1.576    5.011    19.25     4.023   0.05522      NaN
...                      ...      ...      ...       ...       ...      ...
2023-01-15 19:00:00      NaN    2.715      NaN     1.435   0.03355      NaN
2023-01-15 20:00:00      NaN    2.729      NaN     1.435   0.03337      NaN
2023-01-15 21:00:00      NaN    2.716      NaN     1.429   0.03350      NaN
2023-01-15 22:00:00      NaN    2.724      NaN     1.432   0.03348      NaN
2023-01-15 23:00:00      NaN    2.696      NaN     1.431   0.03337      NaN

                     ASTRUSDT  ATAUSDT  ATOMUSDT  AUDUSDT
time
2022-01-25 11:00:00       NaN   0.3788    35.830   0.7111
2022-01-25 12:00:00       NaN   0.3804    35.390   0.7110
2022-01-25 13:00:00       NaN   0.3790    35.610   0.7119
2022-01-25 14:00:00       NaN   0.3751    35.210   0.7111
2022-01-25 15:00:00       NaN   0.3785    35.590   0.7116
...                       ...      ...       ...      ...
2023-01-15 19:00:00    0.0450   0.1148    12.933   0.6970
2023-01-15 20:00:00    0.0451   0.1143    12.943   0.6969
2023-01-15 21:00:00    0.0449   0.1141    12.848   0.6962
2023-01-15 22:00:00    0.0448   0.1144    12.850   0.6971
2023-01-15 23:00:00    0.0445   0.1144    12.778   0.6969

[16452 rows x 10 columns]
                     AUTOUSDT  AVAXUSDT  AXSUSDT  BAKEUSDT  BALUSDT  \
time
2021-04-02 09:00:00   5061.71   29.0954  5.61049       NaN   56.861
2021-04-02 10:00:00   4935.46   29.2362  5.71552       NaN   57.164
2021-04-02 11:00:00   4815.86   29.2199  5.66781       NaN   57.803
2021-04-02 12:00:00   4789.86   28.8390  5.85855       NaN   57.522
2021-04-02 13:00:00   4765.01   28.6962  5.74042       NaN   57.366
...                       ...       ...      ...       ...      ...
2021-04-02 04:00:00       NaN   28.5700  5.44018       NaN   56.418
2021-04-02 05:00:00       NaN   29.0609  5.52574       NaN   56.368
2021-04-02 06:00:00       NaN   28.9204  5.57141       NaN   56.470
2021-04-02 07:00:00       NaN   29.3500  5.63038       NaN   56.625
2021-04-02 08:00:00       NaN   29.1720  5.58000       NaN   56.466

                     BCHDOWNUSDT  BCHUSDT  BEAMUSDT  BELUSDT  BETAUSDT
time
2021-04-02 09:00:00          NaN   560.58    1.2245   5.0110       NaN
2021-04-02 10:00:00          NaN   560.71    1.2279   5.0441       NaN
2021-04-02 11:00:00          NaN   575.32    1.2391   4.9822       NaN
2021-04-02 12:00:00          NaN   576.16    1.2288   4.9320       NaN
2021-04-02 13:00:00          NaN   570.85    1.2137   4.8269       NaN
...                          ...      ...       ...      ...       ...
2021-04-02 04:00:00          NaN   557.52    1.2238   4.9852       NaN
2021-04-02 05:00:00          NaN   557.40    1.2273   5.1727       NaN
2021-04-02 06:00:00          NaN   555.40    1.2260   5.1206       NaN
2021-04-02 07:00:00          NaN   557.40    1.2274   5.0580       NaN
2021-04-02 08:00:00          NaN   558.26    1.2240   5.0075       NaN

[16452 rows x 10 columns]
                     BICOUSDT  BIFIUSDT  BLZUSDT  BNBDOWNUSDT  BNTUSDT  \
time
2021-12-09 06:00:00     6.496       NaN   0.3406      0.06622      NaN
2021-12-09 07:00:00     6.513       NaN   0.3403      0.06550      NaN
2021-12-09 08:00:00     6.372       NaN   0.3265      0.06698      NaN
2021-12-09 09:00:00     6.000       NaN   0.3182      0.06811      NaN
2021-12-09 10:00:00     6.250       NaN   0.3168      0.06830      NaN
...                       ...       ...      ...          ...      ...
2021-12-09 01:00:00       NaN       NaN   0.3614      0.06476      NaN
2021-12-09 02:00:00       NaN       NaN   0.3630      0.06539      NaN
2021-12-09 03:00:00       NaN       NaN   0.3426      0.06647      NaN
2021-12-09 04:00:00       NaN       NaN   0.3355      0.06505      NaN
2021-12-09 05:00:00       NaN       NaN   0.3360      0.06624      NaN

                     BONDUSDT   BTCUSDT  BTTCUSDT  BZRXUSDT  CAKEUSDT
time
2021-12-09 06:00:00     18.40  49620.68       NaN    0.2853     12.18
2021-12-09 07:00:00     18.37  50016.89       NaN    0.2880     12.17
2021-12-09 08:00:00     17.98  49511.54       NaN    0.2861     11.99
2021-12-09 09:00:00     17.97  49206.95       NaN    0.2843     11.91
2021-12-09 10:00:00     18.18  49312.05       NaN    0.2923     11.94
...                       ...       ...       ...       ...       ...
2021-12-09 01:00:00     18.47  50182.70       NaN    0.2887     12.36
2021-12-09 02:00:00     18.24  49886.02       NaN    0.2804     12.28
2021-12-09 03:00:00     18.25  49513.35       NaN    0.2788     12.20
2021-12-09 04:00:00     18.38  49816.07       NaN    0.2859     12.25
2021-12-09 05:00:00     18.43  49767.78       NaN    0.2869     12.19

[16452 rows x 10 columns]
                     CELOUSDT   CKBUSDT  COCOSUSDT  CTKUSDT  CVXUSDT  \
time
2021-03-01 00:00:00    3.8015  0.010357     0.6315   1.6160      NaN
2021-03-01 01:00:00    3.8192  0.010264     0.6334   1.6125      NaN
2021-03-01 02:00:00    3.8683  0.010998     0.6665   1.6300      NaN
2021-03-01 03:00:00    3.8395  0.010678     0.6700   1.6191      NaN
2021-03-01 04:00:00    3.7732  0.010480     0.6610   1.6132      NaN
...                       ...       ...        ...      ...      ...
2023-01-15 19:00:00    0.6360  0.003260     0.6143   0.7920      NaN
2023-01-15 20:00:00    0.6370  0.003270     0.6154   0.7920      NaN
2023-01-15 21:00:00    0.6350  0.003270     0.6221   0.7900      NaN
2023-01-15 22:00:00    0.6360  0.003260     0.6162   0.7900      NaN
2023-01-15 23:00:00    0.6330  0.003240     0.6157   0.7850      NaN

                     DASHUSDT  DEGOUSDT  DFUSDT  DGBUSDT  DIAUSDT
time
2021-03-01 00:00:00    202.64       NaN     NaN  0.05267    2.119
2021-03-01 01:00:00    201.65       NaN     NaN  0.05233    2.102
2021-03-01 02:00:00    203.64       NaN     NaN  0.05225    2.118
2021-03-01 03:00:00    201.52       NaN     NaN  0.05209    2.115
2021-03-01 04:00:00    203.12       NaN     NaN  0.05233    2.114
...                       ...       ...     ...      ...      ...
2023-01-15 19:00:00     51.80     1.806  0.0445  0.01008    0.337
2023-01-15 20:00:00     51.87     1.816  0.0445  0.01010    0.337
2023-01-15 21:00:00     51.76     1.825  0.0445  0.01012    0.335
2023-01-15 22:00:00     51.97     1.832  0.0445  0.01017    0.334
2023-01-15 23:00:00     51.70     1.820  0.0444  0.01018    0.333

[16452 rows x 10 columns]
                     DNTUSDT  DOGEUSDT  DOTDOWNUSDT  DOTUPUSDT  DOTUSDT  \
time
2021-03-01 00:00:00  0.24326  0.049010     0.000616    144.856  34.1545
2021-03-01 01:00:00  0.23700  0.049240     0.000615    145.146  34.2374
2021-03-01 02:00:00  0.23698  0.049001     0.000622    143.711  34.1106
2021-03-01 03:00:00  0.23539  0.048656     0.000642    141.006  33.7719
2021-03-01 04:00:00  0.23848  0.048850     0.000639    141.203  33.7585
...                      ...       ...          ...        ...      ...
2023-01-15 19:00:00      NaN  0.085230          NaN        NaN   5.9110
2023-01-15 20:00:00      NaN  0.085600          NaN        NaN   5.9120
2023-01-15 21:00:00      NaN  0.085560          NaN        NaN   5.9140
2023-01-15 22:00:00      NaN  0.086340          NaN        NaN   5.9570
2023-01-15 23:00:00      NaN  0.086080          NaN        NaN   5.9290

                     DUSKUSDT  DYDXUSDT  EGLDUSDT  ENJUSDT  EOSDOWNUSDT
time
2021-03-01 00:00:00    0.1955       NaN   135.593  0.58344        0.392
2021-03-01 01:00:00    0.1946       NaN   136.696  0.57631        0.394
2021-03-01 02:00:00    0.1991       NaN   138.709  0.57770        0.389
2021-03-01 03:00:00    0.1987       NaN   135.058  0.59508        0.391
2021-03-01 04:00:00    0.1955       NaN   134.500  0.58987        0.395
...                       ...       ...       ...      ...          ...
2023-01-15 19:00:00    0.1018       NaN    41.040  0.35760          NaN
2023-01-15 20:00:00    0.1018       NaN    41.060  0.35770          NaN
2023-01-15 21:00:00    0.1012       NaN    40.930  0.35740          NaN
2023-01-15 22:00:00    0.1016       NaN    41.040  0.36100          NaN
2023-01-15 23:00:00    0.1009       NaN    40.880  0.36120          NaN

[16452 rows x 10 columns]

60

In [88]:
res
res.to_pickle(f"data/clean/0-5.pkl")
len(res.columns)

60

In [89]:
res1 = merge_all_chunks([i for i in range(6, 12)])
len(res1.columns)
res1.to_pickle(f"data/clean/6-11.pkl")

                     EOSUSDT  ETCUSDT  ETHUSDT  EURUSDT  FILUPUSDT  FIOUSDT  \
time
2021-03-01 00:00:00   3.5156  10.4848  1440.76   1.2057      4.274   0.2392
2021-03-01 01:00:00   3.5163  10.5134  1439.55   1.2041      4.297   0.2226
2021-03-01 02:00:00   3.5209  10.4562  1440.05   1.2031      4.281   0.2210
2021-03-01 03:00:00   3.5000  10.3992  1434.06   1.2032      4.294   0.2158
2021-03-01 04:00:00   3.5076  10.4131  1441.63   1.2029      4.274   0.2175
...                      ...      ...      ...      ...        ...      ...
2023-01-15 20:00:00   1.0650  22.8800      NaN   1.0843        NaN      NaN
2023-01-15 21:00:00   1.0610  22.5200      NaN   1.0837        NaN      NaN
2023-01-15 22:00:00   1.0640  22.5200      NaN   1.0834        NaN      NaN
2023-01-15 23:00:00   1.0630  22.4000      NaN   1.0825        NaN      NaN
2021-06-08 23:00:00      NaN  56.6810  2507.23   1.2147      4.624   0.1900

                     FORUSDT  FTTUSDT   FUNUSDT
time
2021-03-01 00:00:00      NaN   26.428  0.027656
2021-03-01 01:00:00      NaN   26.415  0.027929
2021-03-01 02:00:00      NaN   26.669  0.027196
2021-03-01 03:00:00      NaN   26.515  0.027322
2021-03-01 04:00:00      NaN   26.689  0.027298
...                      ...      ...       ...
2023-01-15 20:00:00  0.01865      NaN  0.007080
2023-01-15 21:00:00  0.01866      NaN  0.007060
2023-01-15 22:00:00  0.01855      NaN  0.007090
2023-01-15 23:00:00  0.01855      NaN  0.007070
2021-06-08 23:00:00      NaN   30.865  0.020270

[16452 rows x 9 columns]
                     GBPUSDT  GHSTUSDT  GMXUSDT  GNOUSDT  GXSUSDT  HIGHUSDT  \
time
2021-03-01 00:00:00   1.3909       NaN      NaN      NaN   0.5233       NaN
2021-03-01 01:00:00   1.3904       NaN      NaN      NaN   0.5183       NaN
2021-03-01 02:00:00   1.3890       NaN      NaN      NaN   0.5171       NaN
2021-03-01 03:00:00   1.3896       NaN      NaN      NaN   0.5240       NaN
2021-03-01 04:00:00   1.3887       NaN      NaN      NaN   0.5203       NaN
...                      ...       ...      ...      ...      ...       ...
2023-01-15 19:00:00   1.2200       NaN    51.92    106.2      NaN     1.020
2023-01-15 20:00:00   1.2200       NaN    51.99    106.2      NaN     1.018
2023-01-15 21:00:00   1.2200       NaN    51.91    106.0      NaN     1.017
2023-01-15 22:00:00   1.2220       NaN    52.03    106.5      NaN     1.021
2023-01-15 23:00:00   1.2230       NaN    51.27    106.0      NaN     1.028

                     HNTUSDT  ICPUSDT  ICXUSDT  INJUSDT
time
2021-03-01 00:00:00    4.272      NaN   1.4495  12.7475
2021-03-01 01:00:00    4.288      NaN   1.4575  12.9633
2021-03-01 02:00:00    4.293      NaN   1.4570  13.1516
2021-03-01 03:00:00    4.318      NaN   1.4767  13.0710
2021-03-01 04:00:00    4.264      NaN   1.4782  12.9717
...                      ...      ...      ...      ...
2023-01-15 19:00:00      NaN      NaN      NaN   1.6540
2023-01-15 20:00:00      NaN      NaN      NaN   1.6630
2023-01-15 21:00:00      NaN      NaN      NaN   1.6510
2023-01-15 22:00:00      NaN      NaN      NaN   1.6580
2023-01-15 23:00:00      NaN      NaN      NaN   1.6530

[16452 rows x 10 columns]
                     IOTXUSDT  JSTUSDT  JUVUSDT  KAVAUSDT  KDAUSDT   KEYUSDT  \
time
2021-03-01 00:00:00  0.021037  0.04524    9.227    3.4011      NaN  0.007595
2021-03-01 01:00:00  0.021116  0.04532    9.113    3.3885      NaN  0.007802
2021-03-01 02:00:00  0.021084  0.04586    9.266    3.4203      NaN  0.007552
2021-03-01 03:00:00  0.021183  0.04521    9.272    3.4517      NaN  0.007500
2021-03-01 04:00:00  0.020889  0.04513    9.207    3.4148      NaN  0.007560
...                       ...      ...      ...       ...      ...       ...
2023-01-15 19:00:00  0.029230      NaN      NaN       NaN    1.123       NaN
2023-01-15 20:00:00  0.029400      NaN      NaN       NaN    1.108       NaN
2023-01-15 21:00:00  0.029330      NaN      NaN       NaN    1.114       NaN
2023-01-15 22:00:00  0.029460      NaN      NaN       NaN    1.099       NaN
2023-01-15 23:00:00  0.029330      NaN      NaN       NaN    1.096       NaN

                     KMDUSDT  KNCUSDT  LAZIOUSDT  LDOUSDT
time
2021-03-01 00:00:00   1.2384    1.603        NaN      NaN
2021-03-01 01:00:00   1.2571    1.600        NaN      NaN
2021-03-01 02:00:00   1.2453    1.612        NaN      NaN
2021-03-01 03:00:00   1.2326    1.590        NaN      NaN
2021-03-01 04:00:00   1.2414    1.597        NaN      NaN
...                      ...      ...        ...      ...
2023-01-15 19:00:00   0.2305      NaN        NaN    2.239
2023-01-15 20:00:00   0.2311      NaN        NaN    2.214
2023-01-15 21:00:00   0.2321      NaN        NaN    2.207
2023-01-15 22:00:00   0.2328      NaN        NaN    2.229
2023-01-15 23:00:00   0.2319      NaN        NaN    2.221

[16452 rows x 10 columns]
                     LEVERUSDT  LINAUSDT  LINKUSDT  LITUSDT  LOKAUSDT  \
time
2022-07-13 04:00:00   0.001373   0.00785       NaN      NaN    0.5207
2022-07-13 05:00:00   0.001401   0.00789       NaN      NaN    0.5236
2022-07-13 06:00:00   0.001354   0.00791       NaN      NaN    0.5244
2022-07-13 07:00:00   0.001290   0.00805       NaN      NaN    0.5295
2022-07-13 08:00:00   0.001273   0.00805       NaN      NaN    0.5347
...                        ...       ...       ...      ...       ...
2021-03-18 07:00:00        NaN       NaN   29.8579  11.0810       NaN
2021-03-18 08:00:00        NaN       NaN   29.7158  10.9610       NaN
2021-03-18 09:00:00        NaN       NaN   30.1185  11.1000       NaN
2021-03-18 10:00:00        NaN       NaN   30.0047  11.2725       NaN
2021-03-18 11:00:00        NaN       NaN   29.7570  11.1658       NaN

                     LRCUSDT  LTOUSDT   MBLUSDT  MBOXUSDT  MCUSDT
time
2022-07-13 04:00:00  0.36330  0.07730  0.004016       NaN     NaN
2022-07-13 05:00:00  0.36600  0.07740  0.004165       NaN     NaN
2022-07-13 06:00:00  0.36620  0.07820  0.004071       NaN     NaN
2022-07-13 07:00:00  0.36980  0.08060  0.004049       NaN     NaN
2022-07-13 08:00:00  0.37230  0.08040  0.004158       NaN     NaN
...                      ...      ...       ...       ...     ...
2021-03-18 07:00:00  0.61605  0.53065  0.012945       NaN     NaN
2021-03-18 08:00:00  0.61246  0.52701  0.012990       NaN     NaN
2021-03-18 09:00:00  0.61934  0.53069  0.014352       NaN     NaN
2021-03-18 10:00:00  0.61817  0.53347  0.014022       NaN     NaN
2021-03-18 11:00:00  0.60707  0.52823  0.014181       NaN     NaN

[16452 rows x 10 columns]
                     MDTUSDT  MDXUSDT  MINAUSDT  MKRUSDT  MLNUSDT  MULTIUSDT  \
time
2021-03-01 00:00:00  0.04417      NaN       NaN  2123.70      NaN        NaN
2021-03-01 01:00:00  0.04378      NaN       NaN  2133.14      NaN        NaN
2021-03-01 02:00:00  0.04418      NaN       NaN  2161.12      NaN        NaN
2021-03-01 03:00:00  0.04385      NaN       NaN  2126.48      NaN        NaN
2021-03-01 04:00:00  0.04363      NaN       NaN  2140.80      NaN        NaN
...                      ...      ...       ...      ...      ...        ...
2023-01-15 19:00:00      NaN   0.0810     0.561   701.00      NaN       7.40
2023-01-15 20:00:00      NaN   0.0813     0.564   703.00      NaN       7.39
2023-01-15 21:00:00      NaN   0.0816     0.560   702.00      NaN       7.39
2023-01-15 22:00:00      NaN   0.0821     0.556   704.00      NaN       7.37
2023-01-15 23:00:00      NaN   0.0814     0.556   700.00      NaN       7.27

                     NEBLUSDT  NEXOUSDT  NMRUSDT  NULSUSDT
time
2021-03-01 00:00:00       NaN       NaN   40.795    0.5061
2021-03-01 01:00:00       NaN       NaN   40.010    0.5006
2021-03-01 02:00:00       NaN       NaN   40.743    0.5025
2021-03-01 03:00:00       NaN       NaN   40.985    0.5061
2021-03-01 04:00:00       NaN       NaN   40.900    0.5047
...                       ...       ...      ...       ...
2023-01-15 19:00:00       NaN     0.747   16.190       NaN
2023-01-15 20:00:00       NaN     0.745   16.310       NaN
2023-01-15 21:00:00       NaN     0.745   16.280       NaN
2023-01-15 22:00:00       NaN     0.746   16.290       NaN
2023-01-15 23:00:00       NaN     0.735   16.290       NaN

[16452 rows x 10 columns]
                     NUUSDT  ONEUSDT  ONGUSDT  ONTUSDT  OOKIUSDT  OPUSDT  \
time
2021-06-04 05:00:00  0.3757  0.09549   0.9841   1.1189       NaN     NaN
2021-06-04 06:00:00  0.3877  0.09554   0.9808   1.1110       NaN     NaN
2021-06-04 07:00:00  0.3749  0.09509   0.9703   1.1021       NaN     NaN
2021-06-04 08:00:00  0.3706  0.09426   0.9750   1.0885       NaN     NaN
2021-06-04 09:00:00  0.4217  0.09697   0.9869   1.1073       NaN     NaN
...                     ...      ...      ...      ...       ...     ...
2023-01-15 19:00:00     NaN      NaN   0.2675   0.1987       NaN     NaN
2023-01-15 20:00:00     NaN      NaN   0.2682   0.1993       NaN     NaN
2023-01-15 21:00:00     NaN      NaN   0.2666   0.1988       NaN     NaN
2023-01-15 22:00:00     NaN      NaN   0.2680   0.1984       NaN     NaN
2023-01-15 23:00:00     NaN      NaN   0.2715   0.1970       NaN     NaN

                     PERPUSDT  PHBUSDT  PNTUSDT  POLYXUSDT
time
2021-06-04 05:00:00  10.02000      NaN   1.0575        NaN
2021-06-04 06:00:00   9.77000      NaN   1.0289        NaN
2021-06-04 07:00:00   9.77200      NaN   1.0255        NaN
2021-06-04 08:00:00   9.78800      NaN   1.0451        NaN
2021-06-04 09:00:00   9.76400      NaN   1.0590        NaN
...                       ...      ...      ...        ...
2023-01-15 19:00:00   0.51621   0.9798   0.1544     0.1687
2023-01-15 20:00:00   0.51705   0.9900   0.1537     0.1691
2023-01-15 21:00:00   0.50474   0.9872   0.1537     0.1698
2023-01-15 22:00:00   0.50376   0.9757   0.1533     0.1701
2023-01-15 23:00:00   0.50491   0.9609   0.1539     0.1718

[16452 rows x 10 columns]

In [91]:
res2 = merge_all_chunks([i for i in range(12, 18)])
len(res2.columns)
res2.to_pickle(f"data/clean/12-17.pkl")

                     PSGUSDT  PYRUSDT  QTUMUSDT  RADUSDT  RAMPUSDT  REEFUSDT  \
time
2021-03-01 00:00:00    9.430      NaN     4.998      NaN       NaN  0.029202
2021-03-01 01:00:00    9.226      NaN     4.971      NaN       NaN  0.029163
2021-03-01 02:00:00    9.467      NaN     5.000      NaN       NaN  0.029545
2021-03-01 03:00:00    9.432      NaN     4.931      NaN       NaN  0.029238
2021-03-01 04:00:00    9.472      NaN     4.955      NaN       NaN  0.029435
...                      ...      ...       ...      ...       ...       ...
2023-01-15 19:00:00      NaN     3.85       NaN    1.715       NaN  0.002994
2023-01-15 20:00:00      NaN     3.85       NaN    1.711       NaN  0.003000
2023-01-15 21:00:00      NaN     3.81       NaN    1.718       NaN  0.003007
2023-01-15 22:00:00      NaN     3.80       NaN    1.711       NaN  0.003003
2023-01-15 23:00:00      NaN     3.76       NaN    1.714       NaN  0.002996

                     RENUSDT  ROSEUSDT   RSRUSDT  RUNEUSDT
time
2021-03-01 00:00:00  1.10716   0.09456  0.053370    4.5894
2021-03-01 01:00:00  1.08641   0.09643  0.054540    4.5197
2021-03-01 02:00:00  1.08639   0.09746  0.054760    4.6176
2021-03-01 03:00:00  1.06207   0.09650  0.054710    4.5915
2021-03-01 04:00:00  1.07847   0.09537  0.054090    4.5711
...                      ...       ...       ...       ...
2023-01-15 19:00:00      NaN   0.04994  0.003910    1.7500
2023-01-15 20:00:00      NaN   0.05004  0.003942    1.7570
2023-01-15 21:00:00      NaN   0.04980  0.003956    1.7580
2023-01-15 22:00:00      NaN   0.04989  0.003951    1.7590
2023-01-15 23:00:00      NaN   0.04949  0.003941    1.7500

[16452 rows x 10 columns]
                     RVNUSDT  SANTOSUSDT  SFPUSDT  SHIBUSDT  SKLUSDT  SNXUSDT  \
time
2021-03-01 00:00:00  0.15000         NaN   1.5315       NaN  0.21456   19.072
2021-03-01 01:00:00  0.16546         NaN   1.5540       NaN  0.21251   19.154
2021-03-01 02:00:00  0.16166         NaN   1.6102       NaN  0.21325   19.264
2021-03-01 03:00:00  0.16489         NaN   1.5779       NaN  0.21104   19.078
2021-03-01 04:00:00  0.16523         NaN   1.6012       NaN  0.20978   19.230
...                      ...         ...      ...       ...      ...      ...
2023-01-15 19:00:00  0.02531         NaN   0.4657       NaN      NaN    2.177
2023-01-15 20:00:00  0.02528         NaN   0.4654       NaN      NaN    2.174
2023-01-15 21:00:00  0.02522         NaN   0.4665       NaN      NaN    2.179
2023-01-15 22:00:00  0.02523         NaN   0.4684       NaN      NaN    2.193
2023-01-15 23:00:00  0.02508         NaN   0.4636       NaN      NaN    2.173

                     SRMUSDT  STEEMUSDT  STGUSDT  STMXUSDT
time
2021-03-01 00:00:00   5.1296        NaN      NaN  0.009257
2021-03-01 01:00:00   5.0927        NaN      NaN  0.009338
2021-03-01 02:00:00   5.1324        NaN      NaN  0.009365
2021-03-01 03:00:00   5.1402        NaN      NaN  0.009275
2021-03-01 04:00:00   5.0989        NaN      NaN  0.009311
...                      ...        ...      ...       ...
2023-01-15 19:00:00      NaN     0.1823   0.4643       NaN
2023-01-15 20:00:00      NaN     0.1827   0.4659       NaN
2023-01-15 21:00:00      NaN     0.1821   0.4669       NaN
2023-01-15 22:00:00      NaN     0.1825   0.4681       NaN
2023-01-15 23:00:00      NaN     0.1835   0.4664       NaN

[16452 rows x 10 columns]
                     STRAXUSDT  STXUSDT  SUNUSDT  SXPUPUSDT  SYSUSDT  TKOUSDT  \
time
2021-03-01 00:00:00     1.1000   0.9533   13.040     1.0900      NaN      NaN
2021-03-01 01:00:00     1.0899   0.9398   13.193     1.0819      NaN      NaN
2021-03-01 02:00:00     1.1117   0.9348   12.957     1.1230      NaN      NaN
2021-03-01 03:00:00     1.1120   0.9388   12.950     1.0832      NaN      NaN
2021-03-01 04:00:00     1.1080   0.9442   12.988     1.0950      NaN      NaN
...                        ...      ...      ...        ...      ...      ...
2023-01-15 19:00:00        NaN   0.2690      NaN        NaN      NaN   0.2814
2023-01-15 20:00:00        NaN   0.2690      NaN        NaN      NaN   0.2812
2023-01-15 21:00:00        NaN   0.2710      NaN        NaN      NaN   0.2807
2023-01-15 22:00:00        NaN   0.2700      NaN        NaN      NaN   0.2826
2023-01-15 23:00:00        NaN   0.2720      NaN        NaN      NaN   0.2801

                     TORNUSDT  TRBUSDT  TUSDUSDT  UNIUSDT
time
2021-03-01 00:00:00       NaN   32.829    0.9982  22.6482
2021-03-01 01:00:00       NaN   32.405    0.9982  22.9388
2021-03-01 02:00:00       NaN   32.531    0.9982  23.0418
2021-03-01 03:00:00       NaN   32.318    0.9989  23.0235
2021-03-01 04:00:00       NaN   32.456    0.9990  22.8730
...                       ...      ...       ...      ...
2023-01-15 19:00:00       NaN   15.590       NaN   6.5850
2023-01-15 20:00:00       NaN   15.530       NaN   6.6000
2023-01-15 21:00:00       NaN   15.490       NaN   6.6260
2023-01-15 22:00:00       NaN   15.550       NaN   6.6780
2023-01-15 23:00:00       NaN   15.520       NaN   6.5920

[16452 rows x 10 columns]
                     USDPUSDT  USTUSDT  VETUSDT  VGXUSDT  VIDTUSDT  VTHOUSDT  \
time
2021-09-10 04:00:00    0.9999      NaN  0.12471      NaN    0.9344  0.010544
2021-09-10 05:00:00    0.9999      NaN  0.12522      NaN    0.9295  0.010607
2021-09-10 06:00:00    1.0002      NaN  0.12277      NaN    0.9036  0.010465
2021-09-10 07:00:00    0.9998      NaN  0.12044      NaN    0.8646  0.010220
2021-09-10 08:00:00    1.0000      NaN  0.11920      NaN    0.8848  0.010250
...                       ...      ...      ...      ...       ...       ...
2023-01-15 19:00:00       NaN      NaN  0.02105      NaN       NaN  0.001109
2023-01-15 20:00:00       NaN      NaN  0.02120      NaN       NaN  0.001108
2023-01-15 21:00:00       NaN      NaN  0.02112      NaN       NaN  0.001132
2023-01-15 22:00:00       NaN      NaN  0.02115      NaN       NaN  0.001125
2023-01-15 23:00:00       NaN      NaN  0.02110      NaN       NaN  0.001119

                     WANUSDT  WAXPUSDT   WINUSDT  WOOUSDT
time
2021-09-10 04:00:00      NaN    0.3046  0.000539      NaN
2021-09-10 05:00:00      NaN    0.3066  0.000538      NaN
2021-09-10 06:00:00      NaN    0.3022  0.000529      NaN
2021-09-10 07:00:00      NaN    0.2929  0.000518      NaN
2021-09-10 08:00:00      NaN    0.2871  0.000511      NaN
...                      ...       ...       ...      ...
2023-01-15 19:00:00      NaN       NaN       NaN   0.2041
2023-01-15 20:00:00      NaN       NaN       NaN   0.2032
2023-01-15 21:00:00      NaN       NaN       NaN   0.2044
2023-01-15 22:00:00      NaN       NaN       NaN   0.2062
2023-01-15 23:00:00      NaN       NaN       NaN   0.2041

[16452 rows x 10 columns]
                     XEMUSDT  XLMUSDT  XMRUSDT  XNOUSDT  XRPDOWNUSDT  XRPUSDT  \
time
2021-03-01 00:00:00   0.6035  0.41193   220.75      NaN     0.001971  0.42151
2021-03-01 01:00:00   0.6000  0.41091   218.78      NaN     0.001949  0.42358
2021-03-01 02:00:00   0.6084  0.41313   217.31      NaN     0.001955  0.42288
2021-03-01 03:00:00   0.6031  0.41111   215.11      NaN     0.001985  0.42076
2021-03-01 04:00:00   0.6051  0.41247   218.28      NaN     0.001992  0.41981
...                      ...      ...      ...      ...          ...      ...
2023-01-15 19:00:00   0.0361  0.08750   176.20    0.798     0.000205  0.38560
2023-01-15 20:00:00   0.0361  0.08780   176.80    0.800     0.000203  0.38710
2023-01-15 21:00:00   0.0361  0.08770   176.40    0.799     0.000205  0.38560
2023-01-15 22:00:00   0.0359  0.08810   176.40    0.800     0.000204  0.38560
2023-01-15 23:00:00   0.0359  0.08800   174.40    0.797     0.000206  0.38450

                     XTZDOWNUSDT  XTZUSDT  YFIDOWNUSDT  YFIIUSDT
time
2021-03-01 00:00:00        0.183   3.4907      0.00729   1986.41
2021-03-01 01:00:00        0.183   3.4909      0.00738   1960.95
2021-03-01 02:00:00        0.184   3.4798      0.00737   1962.84
2021-03-01 03:00:00        0.188   3.4555      0.00693   1959.86
2021-03-01 04:00:00        0.188   3.4607      0.00686   1960.82
...                          ...      ...          ...       ...
2023-01-15 19:00:00          NaN   1.0220          NaN   1355.00
2023-01-15 20:00:00          NaN   1.0260          NaN   1357.30
2023-01-15 21:00:00          NaN   1.0280          NaN   1357.10
2023-01-15 22:00:00          NaN   1.0300          NaN   1352.20
2023-01-15 23:00:00          NaN   1.0280          NaN   1353.50

[16452 rows x 10 columns]
                     YFIUPUSDT   YFIUSDT  YGGUSDT  ZECUSDT  ZENUSDT  ZILUSDT
time
2021-03-01 00:00:00      5.344  31473.67      NaN   113.66   43.401  0.10874
2021-03-01 01:00:00      5.309  31361.48      NaN   113.36   43.179  0.10878
2021-03-01 02:00:00      5.321  31386.23      NaN   113.91   43.053  0.10919
2021-03-01 03:00:00      5.581  32158.32      NaN   113.11   42.504  0.11012
2021-03-01 04:00:00      5.615  32310.04      NaN   112.92   42.356  0.10994
...                        ...       ...      ...      ...      ...      ...
2023-01-15 19:00:00        NaN   7092.00   0.2532    45.30   10.480  0.02575
2023-01-15 20:00:00        NaN   7106.00   0.2592    45.40   10.470  0.02584
2023-01-15 21:00:00        NaN   7068.00   0.2581    45.30   10.480  0.02579
2023-01-15 22:00:00        NaN   7086.00   0.2573    45.20   10.530  0.02595
2023-01-15 23:00:00        NaN   7094.00   0.2549    44.80   10.550  0.02593

[16452 rows x 6 columns]

In [95]:
pd_whole = merge_assets([res, res1, res2], "time")
print(len(pd_whole.columns))
pd_whole

175

,1INCHDOWNUSDT,1INCHUPUSDT,1INCHUSDT,AAVEDOWNUSDT,AAVEUSDT,AGLDUSDT,AIONUSDT,ALICEUSDT,ALPINEUSDT,AMPUSDT,...,XTZDOWNUSDT,XTZUSDT,YFIDOWNUSDT,YFIIUSDT,YFIUPUSDT,YFIUSDT,YGGUSDT,ZECUSDT,ZENUSDT,ZILUSDT
time,,,,,,,,,,,,,,,,,,,,,
2021-04-15 07:00:00,10.07,9.87,5.8799,1.327380,438.825,NaN,0.45630,12.3072,NaN,NaN,...,0.02294,6.5570,NaN,3044.99,8.890,50826.78,NaN,246.49,96.655,0.20656
2021-04-15 08:00:00,10.21,9.73,5.8589,1.367000,434.066,NaN,0.44530,12.4601,NaN,NaN,...,0.02353,6.5160,NaN,2989.17,8.530,50035.84,NaN,247.08,97.583,0.20509
2021-04-15 09:00:00,9.92,10.00,5.9137,1.320024,439.611,NaN,0.44020,12.5628,NaN,NaN,...,0.02370,6.5169,NaN,3000.41,8.550,50046.70,NaN,248.45,97.487,0.20619
2021-04-15 10:00:00,9.97,9.93,5.9084,1.301529,443.585,NaN,0.43320,12.4980,NaN,NaN,...,0.02487,6.3981,NaN,2954.89,8.301,49476.40,NaN,244.61,95.743,0.20330
2021-04-15 11:00:00,9.10,10.63,6.1123,1.232953,452.599,NaN,0.43930,12.7799,NaN,NaN,...,0.02451,6.4330,NaN,3000.85,8.642,50269.64,NaN,246.76,97.111,0.20582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-15 19:00:00,NaN,NaN,NaN,NaN,80.100,NaN,0.03404,NaN,2.3723,0.00392,...,NaN,1.0220,NaN,1355.00,NaN,7092.00,0.2532,45.30,10.480,0.02575
2023-01-15 20:00:00,NaN,NaN,NaN,NaN,79.900,NaN,0.03497,NaN,2.3822,0.00391,...,NaN,1.0260,NaN,1357.30,NaN,7106.00,0.2592,45.40,10.470,0.02584
2023-01-15 21:00:00,NaN,NaN,NaN,NaN,79.700,NaN,0.03500,NaN,2.3900,0.00389,...,NaN,1.0280,NaN,1357.10,NaN,7068.00,0.2581,45.30,10.480,0.02579
2023-01-15 22:00:00,NaN,NaN,NaN,NaN,79.900,NaN,0.03493,NaN,2.3882,0.00388,...,NaN,1.0300,NaN,1352.20,NaN,7086.00,0.2573,45.20,10.530,0.02595
2023-01-15 23:00:00,NaN,NaN,NaN,NaN,79.200,NaN,0.03480,NaN,2.3768,0.00388,...,NaN,1.0280,NaN,1353.50,NaN,7094.00,0.2549,44.80,10.550,0.02593

## functions

In [103]:
def eigenvalue_clipping(lambdas,v,lambda_plus):
    N=len(lambdas)
    
    
    # _s stands for _structure below
    sum_lambdas_gt_lambda_plus=np.sum(lambdas[lambdas>lambda_plus])
    
    sel_bulk=lambdas<=lambda_plus                     # these eigenvalues come from the seemingly random bulk
    N_bulk=np.sum(sel_bulk)
    sum_lambda_bulk=np.sum(lambdas[sel_bulk])        
    delta=sum_lambda_bulk/N_bulk                      # delta is their average, so as to conserver the trace of C
    
    lambdas_clean=lambdas
    lambdas_clean[lambdas_clean<=lambda_plus]=delta
    
    
    C_clean=np.zeros((N, N))
    v_m=np.matrix(v)
    
    for i in range(N-1):
        C_clean=C_clean+lambdas_clean[i] * np.dot(v_m[i,].T,v_m[i,]) 
        
    np.fill_diagonal(C_clean,1)
            
    return C_clean

## Data preprocessing

In [100]:
pd_whole_wo_time = pd_whole.reset_index()
pd_whole_wo_time = pd_whole_wo_time.drop(["time"], axis=1)
pd_whole_wo_time

,1INCHDOWNUSDT,1INCHUPUSDT,1INCHUSDT,AAVEDOWNUSDT,AAVEUSDT,AGLDUSDT,AIONUSDT,ALICEUSDT,ALPINEUSDT,AMPUSDT,...,XTZDOWNUSDT,XTZUSDT,YFIDOWNUSDT,YFIIUSDT,YFIUPUSDT,YFIUSDT,YGGUSDT,ZECUSDT,ZENUSDT,ZILUSDT
0,10.07,9.87,5.8799,1.327380,438.825,NaN,0.45630,12.3072,NaN,NaN,...,0.02294,6.5570,NaN,3044.99,8.890,50826.78,NaN,246.49,96.655,0.20656
1,10.21,9.73,5.8589,1.367000,434.066,NaN,0.44530,12.4601,NaN,NaN,...,0.02353,6.5160,NaN,2989.17,8.530,50035.84,NaN,247.08,97.583,0.20509
2,9.92,10.00,5.9137,1.320024,439.611,NaN,0.44020,12.5628,NaN,NaN,...,0.02370,6.5169,NaN,3000.41,8.550,50046.70,NaN,248.45,97.487,0.20619
3,9.97,9.93,5.9084,1.301529,443.585,NaN,0.43320,12.4980,NaN,NaN,...,0.02487,6.3981,NaN,2954.89,8.301,49476.40,NaN,244.61,95.743,0.20330
4,9.10,10.63,6.1123,1.232953,452.599,NaN,0.43930,12.7799,NaN,NaN,...,0.02451,6.4330,NaN,3000.85,8.642,50269.64,NaN,246.76,97.111,0.20582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16447,NaN,NaN,NaN,NaN,80.100,NaN,0.03404,NaN,2.3723,0.00392,...,NaN,1.0220,NaN,1355.00,NaN,7092.00,0.2532,45.30,10.480,0.02575
16448,NaN,NaN,NaN,NaN,79.900,NaN,0.03497,NaN,2.3822,0.00391,...,NaN,1.0260,NaN,1357.30,NaN,7106.00,0.2592,45.40,10.470,0.02584
16449,NaN,NaN,NaN,NaN,79.700,NaN,0.03500,NaN,2.3900,0.00389,...,NaN,1.0280,NaN,1357.10,NaN,7068.00,0.2581,45.30,10.480,0.02579
16450,NaN,NaN,NaN,NaN,79.900,NaN,0.03493,NaN,2.3882,0.00388,...,NaN,1.0300,NaN,1352.20,NaN,7086.00,0.2573,45.20,10.530,0.02595
16451,NaN,NaN,NaN,NaN,79.200,NaN,0.03480,NaN,2.3768,0.00388,...,NaN,1.0280,NaN,1353.50,NaN,7094.00,0.2549,44.80,10.550,0.02593

In [106]:
t0 = 10000
t1 = 16452
sample = pd_whole_wo_time.iloc[t0:t1].dropna(axis=1)

In [107]:
sample.shape

(5000, 70)